<h2 id="hostLabel" class="fun-font hidden" data-id="{{user.id}}">Host:<span>{{user.username}}</span></h2>
<h2 class="fun-font">Edit Event</h2>
<div class="controls edit-event">
    <span class="hidden error error-name">Please provide an event name</span>
    <input class="event-name" placeholder="Event Name" value="{{name}}">
    <input class="event-date" value="{{date}}">
    <input class="start-time" type="text" value={{time}} placeholder="Start Time">
    <input class="location" type="text" placeholder="Location" value="{{location}}">
    <div class="hidden address-suggest-div"> 
        <input type="checkbox" class="suggest-cb"><span class="label">Did you mean: 
        </span><span class="address-suggest"></span>
    </div>
    <textarea class="event-desc">{{description}}</textarea>
    <div class="is-private">
    <input type="checkbox" {{#if isPrivate}}checked{{/if}} class="is-private-cb"><span class="label">This is a private event</span>
    </div>
    <div class="category-section">
    {{#each categories}}
    <div class="category-item">
        {{#if matched}}
            <input id="{{categoryname}}-cb" class="event-category" type="checkbox" value="{{id}}" checked>
        {{else}}
            <input id="{{categoryname}}-cb" class="event-category" type="checkbox" value="{{id}}">
        {{/if}}
      <label class="category-label" for="{{categoryname}}-cb">{{categoryname}}</label>
    </div>
    {{/each}}
    </div>
    <div class="invite-row">
        <input id="inviteUser" type="text" placeholder="Invite Users">
        <div id="inviteUserSearchContainer"></div>
    </div>
    <div class="button-row">
        <button type="button" class="btn btn-outline-primary update-btn">Update Event</button>
        <button type="button" class="btn btn-outline-danger delete-btn">Delete Event</button>
    </div>
</div>
