{{#if @root.canEdit}}
  <div class="row host-row event-{{this.id}}">
    <div class="col-9 event-name">
      <a href="/event/{{this.id}}" class="event-link">{{this.name}}</a>
    </div>
    <div class="col-3 event-date">{{this.date}}</div>
  </div>
{{else}}
  <div class="error message">Please login to view the page</div>
{{/if}}

