{{#if @root.canEdit}}
  <div class="row invite-row event-{{this.Event.id}}">
    <div class="col-7 event-name">
      <a href="/event/{{this.Event.id}}" class="event-link">{{this.Event.name}}</a>
    </div>
    <div class="col-2 event-date">{{this.Event.date}}</div>
    <div class="col-3 event-control">
      <a href="#" class="goBtn" data-id="{{this.Event.id}}"><i class="fa fa-check {{#isGoing}}active{{/isGoing}}" aria-hidden="true"></i></a>
      <a href="#" class="declineBtn" data-id="{{this.Event.id}}"><i class="fa fa-times {{#isDecline}}active{{/isDecline}}" aria-hidden="true"></i></a>
      <i class="fa fa-exclamation new-invite {{#isNewInvite}}active{{/isNewInvite}}" aria-hidden="true"></i>
    </div>
  </div>
{{else}}
  {{#if this.status}}
    <div class="row invite-row event-{{this.Event.id}}">
      <div class="col-6 event-name">
        <a href="/event/{{this.Event.id}}" class="event-link">{{this.Event.name}}</a>
      </div>
      <div class="col-6 event-date">{{this.Event.date}}</div>
    </div>
  {{/if}}
{{/if}}

